<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>

    <div class="details content">
        <h2><%= course.title %></h2> <!-- Changed blog to course -->
        <div class="content">
            <p><%= course.duration %></p> <!-- Changed blog.body to course.duration -->
        </div>
        <a class="delete" data-doc="<%= course._id %>">delete</a> <!-- Changed blog to course -->

        <a href="/courses/<%= course._id %>/edit" class="edit-button">Edit Course</a> <!-- Changed blog to course and updated href -->
    </div>

    <%- include("./partials/footer.ejs") %>

    <script>
        const trashcan = document.querySelector('a.delete');

        trashcan.addEventListener('click', (e) => {
            const endpoint = `/courses/${trashcan.dataset.doc}`; <!-- Changed blog to course -->

            fetch(endpoint, {
                method: 'DELETE'
            })
            .then((response) => response.json())
            .then((data) => window.location.href = data.redirect)
            .catch(err => console.log(err));
        });
    </script>

</body>
</html>
