<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

<%- include('./partials/nav.ejs') %>

  <div class="courses content"> <!-- Updated class from blogs to courses -->
    <h2>Course Content</h2>

    <% if (courses.length > 0) { %> <!-- Changed blogs to courses -->
        <% courses.forEach(course => { %> <!-- Changed blog to course -->
          <a class="single" href="/courses/<%= course._id %>"> <!-- Changed blogs to courses -->
            <h3 class="title"><%= course.title %></h3> <!-- Changed blog to course -->
            <p class="description"><%= course.description %></p> <!-- Changed snippet to description -->
          </a>
        <% }) %>
        
    <% } else { %>
      <p>There are no courses to display</p> <!-- Changed blogs to courses -->
    <% } %>

  </div>

  <%- include('./partials/footer.ejs') %>

</body>
</html>

